/* 通用樣式 */
.container-brand-story{
	max-width: 856px;
	margin: 0 auto;
	padding-right: 12px;
	padding-left: 12px;
}

@media(max-width: 767px){
	.container-brand-story{
	max-width: 100%;
	// max-width: 351px;
		/* max-width: calc(351px + 2*32px); */
	/* max-width: calc(351px + 2*0px); */
	/* padding-right: 6px;
	padding-left: 6px; */
	/* width: calc(100%/4*4); */
	}

}


/* page */
.header{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 152px; 
	/* ( 400-96(字高) )/2 = 152px */
	text-align: center;
}

@media(max-width: 576px){
    .header{
        padding: 87px 0;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true);
    }
    
}

/* @media(max-width: 576px){
    .header{
        padding: 87px 0;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true);
    }
    
} */

.quote{
	border-radius: 16px;
	text-align: center;
}

@media(max-width: 767px){
	.quote{
		text-align: left;
	}
}


.brand-intro img{
	max-width: 1052px;
	margin-right: -110px;
	margin-left: -110px;
}

/* .brand-intro img{
	width: 1052px;
	margin-right: -110px;
	margin-left: -110px;	
    max-width: none;
} */

/* 圖片在縮放到原本大小後，先縮放到container-brand-story的大小，避免產生額外的滾動X軸*/
@media (max-width: 1052px) {
    .brand-intro img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
		margin-bottom: 16px;
    }
}



/* @media (max-width: 767px) {
    .brand-intro img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
		margin-bottom: 16px;
    }
} */



.section-lined{
	border-bottom: 1px solid $neutral-300;
}

.brand-history{
	border-left: 1px solid $neutral-900;
	padding-left: 8px;

}

.brand-history-list{
	list-style: disc;
	padding-left: 24px;
}

.brand-vision{
	padding-left: 12px;
	border-left: 3px solid $neutral-300;
}

.bi{
	/* padding-right: 8px; */
	margin-right: 8px;
	vertical-align: bottom;
}

.footer{
	text-align: center;
}

.brand-story a{
	color: $primary-400;
	text-underline-offset: 4px;
	display: block;
    text-decoration: underline; 	
}

